.aboutContainer {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    color: #000; /* Texto em preto */
    font-family: "Fira Sans", serif;
  }
  
  .aboutHeading {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #233db6;
  }
  
  .aboutText {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #555;
    text-align: center;
  }
  
  .aboutEmphasis {
    color: #233db6;
    font-weight: bold;
  }